body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-1 {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-around;
}

.contents {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}
.inner-contents {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  gap: 10px;
  
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.text {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  font-family: Roboto, sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  background: #3882f6;
  width: 100px;
  padding: 4px;
}

.box-2 {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}

.contents-2 {
  display: flex;
  flex-direction: column;
  
}

.title-2 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

.cards-4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
 
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 150px;
   
}

.box-3 {
  background-color: #E5E7EB;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.container-3 {
  display: flex;
  flex-direction: column;
  width: 800px;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
  font-weight: 50;
}

.thor {
  display: flex;
  justify-content: right;
  font-weight: bold;
  margin-right: 30px;
}

.box-4 {
  background-color: white;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;

}

.container-4 {
  background-color: #3882f6;
  width: 800px;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  
}

.contents-4 {
  display: flex;
  justify-content: space-around;

}

.title-4 {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.action {
  font-weight: bold;
}

.text-4 {
  font-weight: 50;
}

.contents-4 button {
  border: 1px solid white;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px;
  padding: 30px;
  background-color: #1f2937;
  color: #E5E7EB;
  font-size: 12px;
  font-weight: 50;

}
a {
  /* this removes the line under our links */
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  gap: 16px;
}

.box-1 img {
  width: 300px;
  border-radius: 15px;

}

.box-2 img {
  width: 150px;
  border-radius: 25px;
  border: 2px solid #3882f6;
  height: 150px;
  margin-bottom: 10px;
}